
/*媒体查询*/
@media screen and (min-width:320px) and (max-width:479px){
    .section1{
        background-position: -200px -200px;
    }

    .section2, .section3, .section4, .section5 {
        padding:  1%;
    }
    .section .box{
        margin: 0;
    }
    nav .nav_logo{
        display:none;
    }
    nav .nav_bar{
        width: 100%;
    }
    #fullpageMenu li{
        font-size: 20px;
        padding: 20px 0;
    }
    .section .text {
        font-size: 16px;
        line-height: 1;
        width: 100%;
        margin: 0;
    }
    .section1 .home_img {
        padding: 10% 0;
    }
    .section1 .home_content{
        width: 100%;
    }
    .section1 .home_content h2{
        font-size:18px;
        line-height:1;
    }
    .section2 .skill{
        margin-top:5px;
    }
    .section2 .skill_level {
        margin: 0;
        float: none;
        width: 100%;
    }
    .section2 .skill_level .con {
        padding: 25px 0 0 0;
        width: 25%;
        height: 60px;
    }
    .section2 .skill_level .con p{
        font-size: 18px;
        line-height: 1;
    }
    .section2 .skill_content {
        float: none;
        width: 100%;
        margin: 0;
        padding-bottom: 20px;
        overflow: hidden;
    }
    .section2 .skill_content p{
        font-size: 14px;
        padding: 10px;
        line-height: 1.2;
    }
    .section3 .project{
        width: 100%;
        margin:10px 0 0 0;
    }
    .section3 .project_time{
        margin: 0;
        width: 20%;
        height: auto;
        background-color: #E86064;
        border-radius:50%;
        position: relative;
    }
    .section3 .project_time hgroup{
        position: absolute;
        left: 6%;
        top: 20%;
    }
    .section3 .project_time:before{
        content: "";
        vertical-align: middle;
        display: inline-block;
        padding-bottom:100%;
    }
    .section3 .project_time h3{
        font-size: 12px;
    }
    .section3 .project_content {
        width: 75%;
        padding-left: 5px;
    }
    .section3 .project_content h3 {
        font-size: 15px;
    }
    .section3 .project_content p {
        font-size: 12px;
        line-height:1.8;
    }
    .section5 table{
        margin: 10px auto;
    }
    .section5 table tr td {
        font-size: 15px;
        padding: 5px;
    }
    .sm-hidden{
        display:none;
        visibility: hidden;
    }
}

@media screen and (min-width:480px) and (max-width:639px){
    .section2, .section3, .section4, .section5 {
        padding: 5%;
    }
    .section .box{
        margin: 0;
    }
    nav .nav_logo{
        display:none;
    }
    nav .nav_bar{
        width: 100%;
    }
    #fullpageMenu li{
        font-size: 20px;
        padding: 20px 0;
    }
    .section1 .home_content{
        width: 70%;
    }
    .section1 .home_content h2{
        font-size: 20px;
    }
    .section2 .skill{
        margin-top:5px;
    }
    .section2 .skill_level {
        margin: 0;
        float: none;
        width: 100%;
    }
    .section2 .skill_level .con {
        padding: 0;
        width: 25%;
        height: auto;
    }
    .section2 .skill_level .con p{
        font-size: 18px;
    }
    .section2 .skill_content {
        float: none;
        width: 100%;
        margin: 10px 0;
        padding: 0 0 20px 2%;
        overflow: hidden;
    }
    .section2 .skill_content p{
        font-size: 16px;
        padding: 10px;
        line-height: 2;
    }
    .section3 .project{
        width: 100%;
        margin:20px 0;
    }
    .section3 .project_time{
        margin: 1% 0 0 0;
        width: 20%;
        height: auto;
        background-color: #E86064;
        border-radius:50%;
        position: relative;
    }
    .section3 .project_time hgroup{
        position: absolute;
        left: 6%;
        top: 22%;
    }
    .section3 .project_time:before{
        content: "";
        display: inline-block;
        padding-bottom:100%;
    }
    .section3 .project_time h3{
        font-size: 15px;
    }
    .section3 .project_content {
        width: 75%;
        padding-left: 1%;
    }
    .section3 .project_content h3 {
        font-size: 16px;
    }
    .section3 .project_content p {
        font-size: 14px;
    }
    .section5 table{
        margin: 10px auto;
    }
    .section5 table tr td {
        font-size: 15px;
        padding: 5px;
    }
    
}

@media screen and (min-width:640px) and (max-width:768px){
    nav .nav_logo{
        display:none;
    }
    nav .nav_bar{
        width: 100%;
    }
    #fullpageMenu li{
        font-size: 20px;
        padding: 20px 0;
    }
    .section1 .home_content h2{
        font-size:20px;
    }
    .section2 .skill{
        margin-top:5px;
    }
    .section2 .skill_level {
        margin: 0;
        float: none;
        width: 100%;
    }
    .section2 .skill_level .con {
        padding: 0;
        width: 25%;
        height: auto;
    }
    .section2 .skill_level .con p{
        font-size: 18px;
    }
    .section2 .skill_content {
        float: none;
        width: 100%;
        padding: 0 0 20px 5%;
        overflow: hidden;
    }
    .section2 .skill_content p{
        font-size: 16px;
        padding: 10px;
        line-height: 2;
    }
    .section3 .project{
        width: 100%;
        margin:20px 0;
    }
    .section3 .project_time{
        margin: 1% 0 0 5%;
        width: 15%;
        height: auto;
        background-color: #E86064;
        border-radius:50%;
        position: relative;
    }
    .section3 .project_time hgroup{
        position: absolute;
        left: 6%;
        top: 22%;
    }
    .section3 .project_time:before{
        content: "";
        display: inline-block;
        padding-bottom:100%;
    }
    .section3 .project_time h3{
        font-size: 15px;
    }
    .section3 .project_content {
        width: 75%;
        padding-left: 1%;
    }
    .section3 .project_content h3 {
        font-size: 20px;
    }
    .section3 .project_content p {
        font-size: 18px;
    }
    .section5 table{
        margin: 10px auto;
    }
    .section5 table tr td {
        font-size: 15px;
        padding: 5px;
    }
}

@media screen and (min-width:769px) and (max-width:990px){
    nav .nav_logo {
        height: 70px;
        line-height: 70px;
    }

    #fullpageMenu li{
        font-size: 22px;
        padding: 20px 0;
    }
    .section1 .home_content h2{
        font-size: 22px;
    }
    .section2 .skill{
        margin-top:5px;
    }
    .section2 .skill_level {
        margin: 0;
        float: none;
        width: 100%;
        overflow: hidden;
    }
    .section2 .skill_level .con {
        padding: 0;
        width: 25%;
        height: auto;
    }
    .section2 .skill_level .con p{
        font-size: 18px;
    }
    .section2 .skill_content {
        float: none;
        width: 100%;
        padding: 0 0 20px 10%;
        overflow: hidden;
    }
    .section2 .skill_content p{
        font-size: 18px;
        padding: 10px;
        line-height: 2;
    }
    .section3 .project{
        width: 100%;
        margin:20px 0;
    }
    .section3 .project_time{
        margin: 1% 0 0 8%;
        width: 13%;
        height: auto;
        background-color: #E86064;
        border-radius:50%;
        position: relative;
    }
    .section3 .project_time hgroup{
        position: absolute;
        left: 8%;
        top: 25%;
    }
    .section3 .project_time:before{
        content: "";
        display: inline-block;
        padding-bottom:100%;
    }
    .section3 .project_time h3{
        font-size: 16px;
    }
    .section3 .project_content {
        width: 75%;
        padding-left: 1%;
    }
    .section3 .project_content h3 {
        font-size: 20px;
    }
    .section3 .project_content p {
        font-size: 18px;
    }
    .section5 table{
        margin: 10px auto;
    }
    .section5 table tr td {
        font-size: 15px;
        padding: 5px;
    }

}

@media screen and (min-width:991px) and (max-width:1199px){
    nav .nav_logo {
        height: 80px;
        line-height: 80px;
    }
    #fullpageMenu li{
        font-size: 28px;
        padding: 20px 0;
    }

    .section1 .home_img {
        padding-top: 50px;
    }

    .section1 .home_content h2{
        font-size:22px;
    }
    .section2 .skill_level {
        margin: 20px 0 0 0;
        overflow: hidden;
        width: 100%;
    }
    .section2 .skill_level .con {
        width: 22%;
        padding: 30px 0px 0 25px;
    }
    canvas {
        margin-left: 20%;
    }
    .section2 .skill_content {
        float: none;
        width: 100%;
        padding: 0 0 20px 8%;
        overflow: hidden;
    }
    .section2 .skill_content p{
        font-size: 22px;
        padding: 10px;
        line-height: 1.5;
    }
    .section3 .project{
        width: 100%;
        margin:20px 0;
    }
    .section3 .project_time{
        margin: 1% 0 0 8%;
        width: 13%;
        height: auto;
        background-color: #E86064;
        border-radius:50%;
        position: relative;
    }
    .section3 .project_time hgroup{
        position: absolute;
        left: 8%;
        top: 30%;
    }
    .section3 .project_time:before{
        content: "";
        display: inline-block;
        padding-bottom:100%;
    }
    .section3 .project_time h3{
        font-size: 20px;
    }
    .section3 .project_content {
        width: 75%;
        padding-left: 1%;
    }
    .section3 .project_content h3 {
        font-size: 20px;
    }
    .section3 .project_content p {
        font-size: 18px;
    }
    .section5 table{
        margin: 10px auto;
    }
    .section5 table tr td {
        font-size: 18px;
        padding: 5px;
    }

}

@media screen and (min-width: 1200px){
    .section2 .skill_level .con {
        padding: 30px 0 0 0;
    }
    .section3 .project{
        width: 100%;
        margin:20px 0;
    }
    .section3 .project_time{
        margin: 1% 0 0 8%;
        width: 13%;
        height: auto;
        background-color: #E86064;
        border-radius:50%;
        position: relative;
    }
    .section3 .project_time hgroup{
        position: absolute;
        left: 8%;
        top: 30%;
    }
    .section3 .project_time:before{
        content: "";
        display: inline-block;
        padding-bottom:100%;
    }
    .section3 .project_time h3{
        font-size: 20px;
    }
    .section3 .project_content {
        width: 75%;
        padding-left: 2%;
    }
    .section3 .project_content h3 {
        font-size: 22px;
    }
    .section3 .project_content p {
        font-size: 20px;
    }
}